extends ../../Layouts/defaut.pug 
//- include ../../mixins/pagination.pug 

block main 
  h1 Category Archives: Ki&#x1EBF;n th&#x1EE9;c ch&abreve;m s&oacute;c da
  .blog-body
    .card-deck
      .card
        a(href='')
          img.card-img-top(src="./Uploads/julyme.jpg" alt='')
        .card-body
          a(href='')
            h5.card-title Julyme - thương hiệu mỹ phẩm hương nước hoa đến từ Hàn Quốc
          a(href='')
            p.card-text
              | Các dòng sản phẩm chăm sóc cơ thể của Julyme có đa dạng mùi hương và độ lưu hương trên cơ thể kéo dài từ 8 đến 12 giờ 
            p.card-text [...]
            
      .card
        a(href='')
          img.card-img-top(src='./Uploads/whiterepe.jpg' alt='...')
        .card-body
          a(href='')
            h5.card-title Thương hiệu White Repe cam kết bảo vệ làn da cho phụ nữ Việt
          a(href='')
            p.card-text
              | White Repe đặt mục tiêu trở thành người bạn đồng hành để hoàn thiện vẻ đẹp bằng chính giá trị bên trong cho phụ nữ Việt 
            p.card-text [...]
    .card-deck
      .card
        a(href='')
          img.card-img-top(src='./Uploads/skin1004.jpg' alt='...')
        .card-body
          a(href='')
            h5.card-title Những yếu tố giúp Skin1004 chinh phục khách hàng Việt
          a(href='')
            p.card-text
              | Các sản phẩm Skin1004 đáp ứng tiêu chí lựa chọn mỹ phẩm của chị em như thành phần thiên nhiên, không gây kích ứng da 
            p.card-text [...]
      .card
        a(href='')
          img.card-img-top(src='./Uploads/ayana.jpg' alt='...')
        .card-body
          a(href='')
            h5.card-title Thương hiệu mỹ phẩm Ayana ra mắt tại Việt Nam
          a(href='')
            p.card-text
              | Ayana mong muốn sẽ trở thành người bạn đồng hành của phụ nữ Việt trong hành trình chăm sóc sắc đẹp
            p.card-text [...]
    .card-deck
      .card
        a(href='')
          img.card-img-top(src='./Uploads/placentor.png' alt='...')
        .card-body
          a(href='')
            h5.card-title Mỹ phẩm Placentor Vegetal chính thức phân phối tại Việt Nam
          a(href='')
            p.card-text
              | Với sự xuất hiện của thương hiệu Placentor Vegetal, người dùng Việt Nam sẽ có thêm một sự lựa chọn khi mua các sản phẩm 
            p.card-text [...]
      .card
        a(href='')
          img.card-img-top(src='./Uploads/saem.jpg' alt='...')
        .card-body
          a(href='')
            h5.card-title The Saem ra mắt kem chống nắng xanh độc quyền tại Việt Nam
          a(href='')
            p.card-text
              | Eco Earth Extra Cica là sản phẩm chiết xuất thiên nhiên, lành tính với ưu điểm là khả năng giữ ẩm, không bết dính
            p.card-text [...]
    <nav aria-label="Page navigation example" class="">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
    </nav>
