extends ../../Layouts/defaut.pug 

block main 
  .blog-footer
    h1 Category Archives: Chính sách khách hàng
  .blog-body
    .card-deck
      .card
        a(href='')
          img.card-img-top(src="./Uploads/CSBH.webp" alt='')
        .card-body
          a(href='')
            h5.card-title CHÍNH SÁCH BÁN HÀNG, THANH TOÁN VÀ ĐỔI TRẢ
          a(href='')
            p.card-text
              | 1. Hướng dẫn mua hàng Quý Khách hàng có thể chọn một trong hai cách 
            p.card-text [...]
            
      .card
        a(href='')
          img.card-img-top(src='./Uploads/CSVC.jpg' alt='...')
        .card-body
          a(href='')
            h5.card-title CHÍNH SÁCH VẬN CHUYỂN, GIAO HÀNG
          a(href='')
            p.card-text
              | Nhằm đáp ứng nhu cầu mua sắm trực tuyến ngày càng cao của khách hàng
            p.card-text [...]

    .card(style='width: 22rem;')
      img.card-img-top(src='./Uploads/CSRT.png' alt='...')
      .card-body
        h5.card-title CHÍNH SÁCH QUYỀN RIÊNG TƯ
        p.card-text
          | Cảm ơn bạn đã truy cập vào website: myphammoi.vn Chúng tôi luôn đề cao tính
        p.card-text [...]

        

      

              
