extends ../../layouts/default.pug 

block main 
  table.table.table-hover
    thead
      tr
        th(scope='col') STT
        th(scope='col') Ảnh
        th(scope='col') Title
        th(scope='col') Hành động
    tbody
      tr
        th(scope='row') 1
        td Mark
        td Otto
        td @mdo
      tr
        th(scope='row') 2
        td Jacob
        td Thornton
        td @fat
      tr
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter
