
//- link(rel='stylesheet' href='/css/stylef.css')
footer.footer
  .grid-1
    .grid-row-1
      .footer-gr1
        h2 Đăng kí nhận thông báo
        p Chương trình khuyến mại | Hợp tác kinh doanh
      .footer-gr2
        input.footer-input(type='email' placeholder='Nhập email của bạn')
        button.send-btn Gửi
  br
  .grid-2
    .grid-row-2
      .grid-column-2
        h3.footer-heading Chăm sóc khách hàng
        ul.footer-list
          li.footer-item
            a.footer-item-link(href='') Chính sách đổi trả
          li.footer-item
            a.footer-item-link(href='') Chính sách bảo mật
          li.footer-item
            a.footer-item-link(href='') Thanh toán và giao nhận
      .grid-column-2
        h3.footer-heading V&#x1EC0; M.O.I COSMETICS
        ul.footer-list
          li.footer-item
            a.footer-item-link(href='') Giới thiệu 
          li.footer-item
            a.footer-item-link(href='') Liên hệ
          li.footer-item
            a.footer-item-link(href='') Đăng kí đối tác
      .grid-column-2
        h3.footer-heading Theo dõi chúng tôi trên
        ul.footer-list
          li.footer-item
            a.footer-item-link(href='')
              i.footer-item-icon.fa-brands.fa-facebook
              |                 Facebook
          li.footer-item
            a.footer-item-link(href='')
              i.footer-item-icon.fa-brands.fa-instagram
              |                 Instagram
          li.footer-item
            a.footer-item-link(href='')
              i.footer-item-icon.fa-brands.fa-tiktok
              |                 TikTok
      .grid-column-2
        h3.footer-heading PHƯƠNG THỨC THANH TOÁN
        ul
          li.footer-image
            a.footer-item-link(href='')
              img(src='https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-MoMo-Square.png' alt='')
          li.footer-image
            a.footer-item-link(href='')
              img(src='https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-ZaloPay-Square.png' alt='')
          li.footer-image
            a.footer-item-link(href='')
              img(src='https://png.pngtree.com/png-vector/20210602/ourmid/pngtree-cash-on-delivery-cod-fast-car-with-flat-design-style-orange-png-image_3389487.jpg' alt='')
    .footer-bottom
      .grid-row
        p.footer-text B&#x1EA3;n quy&#x1EC1;n c&#x1EE7;a C&Ocirc;NG TY TNHH M.O.I COSMETICS.
