//- link(rel='stylesheet' href='/css/style.css')
.header
  p.text WEBSITE CHÍNH THỨC CỦA M.O.I COSMESTIC - MỸ PHẨM HỒ NGỌC HÀ
  .container
    ul.task-bar1
      li.search-menu
        i.fa-solid.fa-magnifying-glass
        ul.search
          li
            input(type='text' placeholder='Tìm kiếm...')
          button.search-btn
            i.fa-solid.fa-magnifying-glass
      li
        a(href='/') Trang chủ
      li
        a(href='') Giới thiệu 
      li
        a.hover(href='') Sản phẩm
        .menu1
          ul
            li
              a.bold(href='') Da by M.O.I
            hr
            li
              a(href='') Toner - Nước thần
            hr
            li
              a(href='') Sữa rửa mặt
            hr
            li
              a(href='')
                | Combo sữa rửa mặt
                br
                |  mặt + Toner da by M.O.I
            hr
          ul
            li.bold
              a(href='') Phấn trang điểm
            hr
            li
              a(href='') Phấn nước
            hr
            li
              a(href='') Phấn phủ
            hr
            li
              a(href='') Phấn má hồng
            hr
            li
              a(href='')
                | Combo phấn phủ
                br
                |  và nước phấn 
                br
                |  M.O.I
          ul
            li
              a.bold(href='') Son môi
            hr
            li
              a(href='')
                | Chì kẻ son môi i M.O.I 
                br
                |  Perfect Shape Lip 
                br
                | Liner
            hr
            li
              a(href='')
                | Son tint lì M.O.I 
                br
                |  Lollipops
            hr
            li
              a(href='')
                | Son thỏi cao cấp
                br
                |  The New Iconic 
                br
                |  phiên bản giới hạn 
            hr
            li
              a(href='')
                | Son kem M.O.I 
                br
                |  phiên bản mùa
                br
                |  xuân
            hr
            li
              a(href='')
                | Son kem M.O.I 
                br
                |  phiên bản mùa lễ 
                br
                | hội
            hr
            li
              a(href='')
                | Son dưỡng có 
                br
                |  màu Jelly Lipgloss 
                br
                |  M.O.I
            hr
            li
              a(href='')
                | Son thỏi cao cấp
                br
                |  Love M.O.I phiên 
                br
                |  bản giới hạn
          ul
            li
              a.bold(href='') Mặt nạ
            hr
            li
              a(href='') Mặt nạ gạo
            hr
            li
              a(href='')
                | Combo mặt nạ
                br
                |  gạo M.O.I
          ul
            li
              a.bold(href='') CHÌ KẺ MÀY
            hr
            li
              a(href='')
                | Chỉ kẻ mày M.O.I 
                br
                |  Perfect Eyebrow 
                br
                |  Pencil
          ul
            li
              a.bold(href='') Làm sạch da và bảo vệ da 
            hr
            li
              a(href='') Bông tẩy trang
            hr
            li
              a(href='') Kem chống nắng 
            hr
            li
              a(href='') Nước tẩy trang
      li
        a(href='') Khuyến mãi 
    ul.task-bar2
      li
        a(href='') Ưu đãi sốc
      li.hover2
        a(href=`/blog`) Blog
      li
        a(href='') Chính sách
      li
        a(href='') Liên hệ
  .logo
    a(href='')
      img(src='logo-moicosmetics.png' alt='')
  .right-taskbar
    p
      | Hotline: 
      a.hotline(href='')  0986604006
    .line
    p
      a.cart(href='') Gi&#x1ECF; h&agrave;ng / 

